.dropdown {
    border: 1px solid #000;
    border-radius: .8rem;
    position: absolute;
    top: 4.5rem;
    left: -12rem;
    background-color: #fff;
    z-index: 9999;
    min-width: 19rem;
    
    & * {
        color: #000;
    }
}