.topUpIcon {
    margin-left: 3rem;
    .iconContainer {
        width: 7rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        .icon {
            width: 1.5rem;
            cursor: pointer;
            z-index: 999;
        }

        .iconText{
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
}